html {
  /* Antialiased text rendering */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Enable OpenType kerning */
  font-feature-settings: "kern" 1;
  text-size-adjust: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
}
